.info_img{
    margin-top: 50px;
}
.info_ico_weibo{
    display: inline-block;
    margin-right:35px;
}
.info_ico_weibo:hover
{
    border-bottom: solid 2px #1ca195;
}
.info_ico_twitter{
    display: inline-block;
    margin-right: 70px;
}
.info_ico_twitter:hover
{
    border-bottom: solid 2px #1ca195;
}
.info_hidden{
    display: none;
    margin: 50px auto;
}
.info_bottom{
    border-bottom: solid 2px #1ca195;
}
.info_pic{
    display: inline-block;
    margin-top: 60px;
}

/*opn-opn.html*/
.opinion_block{
    margin:40px auto;
}
.opinion-content{
    color: #5e6e7e;
    font-size: 15px;
}