.info_img{
    margin-top: 20px;
}
.info_ico_weibo{
    display: inline-block;
    margin-right:35px;
}
.info_ico_weibo:hover
{
    border-bottom: solid 2px #1ca195;
}
.info_ico_twitter{
    display: inline-block;
    margin-right: 70px;
}
.info_ico_tiwwtter:hover
{
    border-bottom: solid 2px #1ca195;
}
.info_hidden{
    display: none;
    margin: 50px auto;
}
.info_bottom{
    border-bottom: solid 2px #1ca195;
}
.info_pic{
    display: inline-block;
    margin-top: 40px;
}

.info_text{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: black !important;
    margin-right:20px;
}
.info_video{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: black !important;
    margin-right:70%;
}